body { /* Modifications : la couleur de fond de page - la police - l'unité utilisée pour la taille de la police  */
  background-color :#fff;
  font-size :15pt;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 400;
}

.content-header, .row, .main-header, .main-sidebar, .main-footer {
  display: none;
}
.badgeUser{
  visibility: visible;
}
.modal {
    display: block;
    visibility: visible;
    padding-left: 0px;
}
